@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#app {
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
}

nav img {
  width: 5vw;
}

nav .nav_items a {
  font-weight: bold;
  color: #4f759b;
  margin-right: 2vw;
  text-decoration: none;
}

nav .nav_items a.router-link-exact-active {
  color: #2639ED;
}

nav .btn {
  background-color: #2639ED;
  color: #ffffff;
  font-size: 16px;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border: none;
  border-radius: 10px;
  list-style: none;
}

nav .btn:hover {
  background-color: #264f76;
}

.liste {
  list-style: none;
}

.header {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 13, 255, 0.287)), to(rgba(60, 103, 255, 0.382))), url("../images/header.webp");
  background: linear-gradient(0deg, rgba(0, 13, 255, 0.287), rgba(60, 103, 255, 0.382)), url("../images/header.webp");
  height: 90vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13vh;
}

.header h1 {
  font-size: 62px;
  font-weight: bold;
  color: #ffffff;
  width: 50%;
  text-align: center;
  margin-top: 3vw;
}

.header p {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  width: 50vw;
}

.body {
  width: 90%;
  margin-top: 3vw;
  margin-left: 7vw;
  margin-right: 10vw;
  padding-right: 6vw;
}

.body h2 {
  text-align: left;
  font-size: 32px;
  color: #2639ED;
  font-weight: 700;
}

.body .body_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .body_items p {
  font-size: 18px;
  color: #2c2c2c;
  width: 60%;
  text-align: left;
}

.body .body_items img {
  width: 30vw;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5vw;
}

.form .form_title h2 {
  text-align: center;
  font-size: 32px;
  color: #2639ED;
  font-weight: 700;
}

.form .form {
  width: 50%;
  border: solid 1px #d8d9db;
  border-radius: 50px;
  padding: 2vw 0 1vw 0;
}

.form .form h3 {
  text-align: center;
  font-size: 30px;
  color: #2639ED;
  font-weight: 600;
  margin-bottom: 5vw;
  width: 100%;
  height: 9vh;
  border-bottom: #dce6f05e solid 2px;
  -webkit-box-shadow: inset 0px -20px 20px 0px #ced9ff2b;
          box-shadow: inset 0px -20px 20px 0px #ced9ff2b;
}

.form .form .form_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .form .form_info label {
  font-size: 18px;
  font-weight: 400;
  color: #264f76;
  display: block;
  text-align: left;
}

.form .form .form_info input {
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  padding: 1vw;
  width: 90%;
  height: 5vh;
  border-radius: 10px;
  border: solid 1px #969caa;
}

.form .form .forme_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form .form .forme_button .btn {
  background-color: #2639ED;
  color: #ffffff;
  font-size: 16px;
  padding: 0.5vw 1vw 0.5vw 1vw;
  border: none;
  border-radius: 10px;
  margin-right: 1vw;
  margin-left: 1vw;
}

.form .form .forme_button .btn:hover {
  background-color: #264f76;
}

.app {
  margin: 4vw 2vw 6vw 2vw;
  background-color: #eff7ffad;
  padding: 2vw;
  border-radius: 35px;
}

.app .app_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4vw;
}

.app .app_items .app_items_chiled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app .app_items .app_items_chiled input, .app .app_items .app_items_chiled select {
  padding: 1vw 2vw 1vw 2vw;
  border: #4f759b solid 1px;
  border-radius: 10px;
}

.app .app_items .app_items_button {
  margin-top: 2vw;
}

.app .app_items .app_items_button button {
  padding: 1vw;
  border: none;
  border-radius: 10px;
  background-color: #2639ED;
  color: white;
  font-weight: 500;
}

.app .app_items .app_items_button button:hover {
  background-color: #0085FF;
}

.rend_parent {
  border: #ddedfc 1px solid;
  border-radius: 25px;
  margin: 3vw 15vw 3vw 15vw;
  padding: 2vw;
  -webkit-box-shadow: -1px 3px 13px 0px rgba(80, 82, 110, 0.29);
          box-shadow: -1px 3px 13px 0px rgba(80, 82, 110, 0.29);
}

.rend_parent .rend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rend_parent .rend .rend_itemes {
  text-decoration: none;
  text-align: left;
}

.rend_parent .rend .rend_itemes li {
  font-weight: 700;
  font-size: 18px;
  color: #020076;
  list-style: none;
}

.rend_parent .rend .rend_itemes_info {
  text-align: left;
}

.rend_parent .rend .rend_itemes_info li {
  font-size: 18px;
  color: #545454;
  list-style: none;
}

.rend_parent button {
  color: white;
  background-color: #2639ED;
  padding: 1vw;
  border: none;
  border-radius: 10px;
  margin-top: 1vw;
}

.rend_parent button:hover {
  background-color: #0085FF;
  -webkit-box-shadow: -1px 3px 13px 0px rgba(100, 104, 172, 0.517);
          box-shadow: -1px 3px 13px 0px rgba(100, 104, 172, 0.517);
}

.seeMyapp {
  color: white;
  background-color: #2639ED;
  font-size: 16px;
  font-weight: 500;
  width: 10vw;
  height: 3vw;
  border: none;
  border-radius: 15px;
  margin-top: 1vw;
}

a {
  text-decoration: none;
}

.nav_secondaire {
  display: none;
}

@media only screen and (max-width: 900px) {
  .nav_principale {
    display: none;
  }
  .nav_secondaire {
    display: block;
  }
  nav img {
    width: 25%;
  }
  h2 {
    font-size: 24px !important;
  }
  h1 {
    font-size: 32px !important;
    width: 100% !important;
  }
  .header {
    height: 48vh !important;
  }
  .body .body_items p {
    font-size: 13px;
  }
  .body_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header p {
    font-size: 12px !important;
    width: 100% !important;
  }
  .body .body_items h2 {
    width: 100% !important;
  }
  .body .body_items p {
    width: 90%;
  }
  .form .form {
    width: 90%;
    padding: 1vw;
  }
  .form .form .forme_button .btn {
    padding: 2vw !important;
  }
  .app .app_items .app_items_button button {
    padding: 2vw;
  }
  .app.app_items.app_items_chiled input, select {
    width: 33vw;
    height: 20vw;
  }
  .rend_parent {
    margin: 14vw  1vw  3vw  1vw !important;
  }
}
/*# sourceMappingURL=style.css.map */