@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color:#020076;
$secondary-color: #4f759b;
$button-color: #0085FF;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    }

    #app {
        text-align: center;
        color: #2c3e50;
    }
    
    nav {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: {
            left: 3vw;
            right: 3vw;
        };
        img{
            width: 5vw;
        }
    .nav_items{
        a {
            font-weight: bold;
            color: #4f759b;
            margin-right: 2vw;
            text-decoration: none;
        
            &.router-link-exact-active {
                color: #2639ED;
            }
            }
    }
    .btn{
        background-color: #2639ED;
        color: #ffffff;
        font-size: 16px;
        padding: 0.5vw 1vw 0.5vw 1vw;
        border: none;
        border-radius: 10px;
    }
    .btn:hover{
        background-color: #264f76;
    }
}

    .header{
        background:linear-gradient(0deg, rgba(0, 13, 255, 0.287), rgba(60, 103, 255, 0.382)), url("../images/header.webp");
        height: 90vh;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 13vh;

        h1{
            font-size: 62px;
            font-weight: bold;
            color: #ffffff;
            width: 50%;
            text-align: center;
            margin-top: 3vw;
        }
        p{
            text-align: center;
            font-size: 24px;
            color: #ffffff;
            font-weight: 400;
            width: 50vw;
        }
    }
    .body{
        width: 90%;
        margin: {
            top: 3vw;
            left: 7vw;
            right: 10vw
        };
        padding-right: 6vw;
        h2{
            text-align: left;
            font-size: 32px;
            color: #2639ED;
            font-weight: 700;
            width: 40%;
        }
        .body_items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 18px;
                color: #2c2c2c;
                width: 40%;
                text-align: left;
            }
            img{
                width: 30vw;
            }
        }
    }


    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
            .form_title{
        h2{
            text-align: center;
            font-size: 32px;
            color: #2639ED;
            font-weight: 700;
        }
    }
    .form{
        width: 50%;
        border: solid 1px rgb(216, 217, 219);
        border-radius: 50px;
        padding: 2vw 0 1vw 0;
        h3{
            text-align: center;
            font-size: 30px;
            color: #2639ED;
            font-weight: 600;
            margin-bottom: 5vw;
            width: 100%;
            height: 9vh;
            border-bottom: #dce6f05e solid 2px;
            box-shadow: inset 0px -20px 20px 0px #ced9ff2b;
        }
    .form_info{
        display: flex;
        flex-direction: column;
        label{
            font-size: 18px;
            font-weight: 400;
            color: #264f76;
            display: block;
            text-align: left;
        }
        input{
            margin-top: 0.5vw;
            margin-bottom: 2vw;
            padding: 0.5vw;
            width: 22vw;
            height: 5vh;
            border-radius: 10px;
            border: solid 1px rgb(150, 156, 170);
        }
        }
    }
    }
